<%- include( 'header' ); -%>

<div class="section">
    <div class="container">
        <form action="/pokemon">
            Enter a Pokémon Item ID: <input type="text" name="id" class="input is-rounded" placeholder="Q123">
        </form>
    </div>
</div>

<%- include( 'footer' ); -%>
